CalculadoraDOC/Calculadora_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Calculadora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="Calculadora.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="Calculadora_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculadora_SumaValores_InputMessage">
    <wsdl:part name="parameters" element="tns:SumaValores"/>
  </wsdl:message>
  <wsdl:message name="ICalculadora_SumaValores_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaValoresResponse"/>
  </wsdl:message>
  <wsdl:message name="ICalculadora_RestaValores_InputMessage">
    <wsdl:part name="parameters" element="tns:RestaValores"/>
  </wsdl:message>
  <wsdl:message name="ICalculadora_RestaValores_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaValoresResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICalculadora">
    <wsdl:operation name="SumaValores">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/SumaValores" message="tns:ICalculadora_SumaValores_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/SumaValoresResponse" message="tns:ICalculadora_SumaValores_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RestaValores">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/RestaValores" message="tns:ICalculadora_RestaValores_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/RestaValoresResponse" message="tns:ICalculadora_RestaValores_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculadora" type="tns:ICalculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SumaValores">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/SumaValores" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestaValores">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/RestaValores" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port name="BasicHttpBinding_ICalculadora" binding="tns:BasicHttpBinding_ICalculadora">
      <soap:address location="http://localhost:52075/Calculadora.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>